<ul *ngIf="products">
  <!--<li>{{products.title}}-->
    <!--<ul *ngIf="products.expanded">-->
      <!--<li *ngFor="let category of products.items">-->
        <!--{{category.title}}-->
        <!--<span *ngIf="category.weight">({{category.weight}})</span>-->
        <!--<ul *ngIf="category.expanded">-->
          <!--<li *ngFor="let subcategory of category.items">-->
            <!--{{subcategory.title}}-->
            <!--<span *ngIf="subcategory.weight">({{subcategory.weight}})</span>-->
            <!--<ul *ngIf="subcategory.expanded">-->
              <!--<li *ngFor="let product of subcategory.items">-->
                <!--{{product.title}}-->
                <!--<span *ngIf="product.weight">({{product.weight}})</span>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</li>-->
</ul>